@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, rgb(138, 55, 216), rgb(174, 96, 246));
    padding: 20px;
    border-bottom: 2px solid #343434;
}

header h1 {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
}

.main-space {
    max-width: 650px;
}

.bg-gray{
    padding: 2px;
    border-radius: 15px;
    background-color: rgb(200, 200, 200);
}

.content-div {
    padding: 12px;
}

.content-inter-div {
    margin-top: 2px;
    border-left: 2px solid rgba(138, 55, 216, 0.5);
    padding-left: 6px;
}

div h1 {
    font-size: 32px;
    border-radius: 10px 0px 0px 0px;
    margin: 0px !important;
    padding: 5px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(138, 55, 216), rgb(200, 200, 200));
    color: white;
}

div h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px !important;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(165, 103, 223), rgb(200, 200, 200));
    color: white;
}

div h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px !important;
    padding: 10px 0px 2px 0px;
    color: #343434;
}

div h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0px !important;
    padding: 4px 0px 2px 0px;
    color: #343434;
}

.text-decoration-underline {
    text-decoration: underline;
}

p {
    padding: 0px;
    margin: 0px !important;
}

.pspace {
    padding-bottom: 7px;
}

footer {
    border-top: 2px solid #4b4b4b;
    background-image: linear-gradient(to right, rgb(138, 55, 216), rgb(165, 103, 223));
    color: white;
    height: 40px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.git {
    color: white;
}

.git:hover {
    color: #4b4b4b;
}

footer p {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
}